{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMO system</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'extra/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'extra/css/select2.min.css' %}">
        <link rel="stylesheet" href="{% static 'extra/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static  'plugins/datatables-responsive/css/responsive.bootstrap4.min.css'%}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <script>
            var lists = JSON.parse('{{ labels | escapejs }}')
            var token = '{{ csrf_token | escapejs }}';
        </script>
        <ul class="navbar-nav">
            <li class="nav-item d-none d-sm-inline-block">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
        </ul>
    </nav>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="{% url 'home' %}" class="brand-link">
            <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="Logo"
                 class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">PMO system</span>
        </a>
        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    {% if user.avatar.url %}
                    <img src="{{ user.avatar.url }}" class="img-circle elevation-2"
                         alt="User Image">
                    {% else %}
                                            <img src="https://static.vecteezy.com/system/resources/previews/023/089/807/non_2x/simple-user-icon-the-icon-can-be-used-for-websites-print-templates-presentation-templates-illustrations-etc-free-vector.jpg" class="img-circle elevation-2"
                         alt="User Image">
                    {% endif %}
                </div>
                <div class="info">
                    <a href="{% url 'hodimlar:profile' %}" class="d-block">{{ user.get_full_name }}</a>
                </div>
            </div>

            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                             aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item">
                        <a href="{% url 'hodimlar:profile' %}" class="nav-link">
                            <i class="fa-solid fa-user" style="color: #fafafa;margin-right: 2%"></i>
                            <p>
                                Profil
                            </p>
                        </a>
                    </li>
                    {% if user.role == 'Admin' %}
                                        <li class="nav-item">
                        <a href="{% url 'hodimlar:users' %}" class="nav-link">
                            <i class="fa-solid fa-users" style="color: #fafafa;margin-right: 2%"></i>
                            <p>
                                Foydalanuvchilar
                            </p>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'all-projects' %}" class="nav-link">
                            <i class="fa-solid fa-file-invoice" style="color: #fafafa;margin-right: 2%"></i>
                            <p>
                                Barcha loyihalar
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'my-projects' %}" class="nav-link">
                            <i class="fa-solid fa-file-contract" style="color: #fafafa;margin-right: 2%"></i>
                            <p>
                                Mening loyihalarim
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'owned-projects' %}" class="nav-link">
                            <i class="fa-solid fa-briefcase" style="color: #fafafa;margin-right: 2%"></i>
                            <p>
                                Loyiha egasi
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'qualification' %}" class="nav-link">
                            <i class="fa-solid fa-square-poll-vertical" style="color: #fafafa;margin-right: 2%"></i>
                            <p>
                                Kvalifikatsiya
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'spending' %}" class="nav-link">
                            <i class="fa-solid fa-building-columns" style="color: #fafafa;margin-right: 2%"></i>
                            <p>
                                Xarajatlar
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="content-wrapper">
        {% block content %}
        {% endblock content %}
    </div>
</div>
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.js' %}"></script>
<script src="{% static 'plugins/chart.js/Chart.min.j' %}s"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>
<script src="{% static 'dist/js/pages/dashboard3.js' %}"></script>
<script src="{% static 'static/js/script.js' %}">
</script>
    <script src="{% static 'extra/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'extra/js/popper.min.js' %}"></script>
    <script src="{% static 'extra/js/select2.min.js' %}"></script>
    <script src="{% static 'extra/js/main.js' %}"></script>
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

</body>
</html>
