{% extends 'base.html' %}
{% load filters %}
{% block content %}
    <div class="container-fluid">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% for pr in project %}
                            <h1><strong>{{ pr.project_name }}</strong> - loyihasi haqida batafsil ma'lumot</h1>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="card" style="height: 100%">
                <div class="card-header">
                    <div class="card-tools">
                        <i id="{{ project.pk }}" data-toggle="modal" data-target="#add-phase"
                           class="fa-solid fa-circle-plus btn btn-outline-dark"></i>
                        {% for p in project %}
                        <a href="{% url 'add-team-member' p.pk %}" > <i class="fa-solid fa-person-circle-plus btn btn-outline-dark"></i></a>
                        <a href="{% url 'remove-team-member' p.pk %}"><i class="fa-solid fa-person-circle-minus btn btn-outline-dark"></i></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Loyiha budjeti</span>
                                            {% for ph in project %}
                                                <span class="info-box-number text-center text-muted mb-0">{{ ph.project_budget }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Sarflangan pul</span>
                                            {% for ph in project %}
                                                <span class="info-box-number text-center text-muted mb-0">{{ ph.project_spent_money }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Tugash vaqti</span>
                                            {% for ph in project %}
                                                <span class="info-box-number text-center text-muted mb-0">{{ ph.project_deadline | format_date }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-start mt-2 border-bottom border-dark"
                                                 style="margin-bottom: 3%">
                                                <h4><strong>Ushbu loyihaga tegishli ma'lumotlar</strong></h4>
                                            </div>
                                            <div class="row mt-4">
                                                <nav class="w-100">
                                                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                                                        <a class="nav-item nav-link active" id="product-desc-tab"
                                                           data-toggle="tab" style="color: black" href="#project-desc" role="tab"
                                                           aria-controls="project-desc" aria-selected="true">Loyiha</a>
                                                        <a class="nav-item nav-link" style="color:#000;" id="product-comments-tab"
                                                           data-toggle="tab" href="#project-comments" role="tab"
                                                           aria-controls="project-comments" aria-selected="false">Izohlar</a>
                                                        <a class="nav-item nav-link" style="color: black" id="product-rating-tab"
                                                           data-toggle="tab" href="#project-problems" role="tab"
                                                           aria-controls="project-problems" aria-selected="false">Muammolar</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content p-3" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="project-desc"
                                                         role="tabpanel" aria-labelledby="project-desc-tab">
                                                        {% for data in datas %}
                                                            <div class="row" style="width: 100dvh">
                                                                <div class="col-10">
                                                                    {% with id='collapse'|generate_random %}
                                                                        <div class="row bg-light mb-3 chevron {{ data.phase_id }}"
                                                                             data-toggle="collapse"
                                                                             data-target="#{{ id }}">
                                                                            <div class="col-10">
                                                                                <p id="phase{{ data.phase_id }}">{{ data.phase }}
                                                                                </p>
                                                                                <strong>Tugatildi
                                                                                    :</strong> {{ data.phase_done_percentage }}%
                                                                            </div>

                                                                        </div>
                                                                        </div>
                                                                        <div id="icons-panel{{ data.phase_id }}"
                                                                             class="col-2 bg-light mb-3 text-center pt-3">
                                                                            <i class="fa-solid fa-pen-to-square mx-1 {{ data.phase_id }} icon-buttons"
                                                                               style="cursor: pointer"></i>
                                                                            <i class="fa-solid fa-trash trash-icon mx-1"
                                                                               data-toggle="modal"
                                                                               data-target="#delete-phase"
                                                                               id="{{ data.phase_id }}"
                                                                               style="cursor: pointer"></i>
                                                                            <i id="chevron{{ data.phase_id }}"
                                                                               data-toggle="collapse"
                                                                               data-target="#{{ id }}"
                                                                               class="fa-solid fa-chevron-right chevron mx-1 collapse-icon{{ data.phase_id }}"></i>
                                                                        </div>
                                                                        </div>
                                                                        {% for task in data.tasks %}
                                                                            {% with task.task_done_percentage|to_int as percentage %}
                                                                                <div class="card {% if percentage > 0 and percentage < 100 %}bg-yellow {% elif percentage == 100 %}bg-green{% endif %} collapse"
                                                                                     id="{{ id }}">
                                                                                    <div class="card-body row">
                                                                                        <div class="col-11">
                                                                                            <label id="label{{ task.id }}">{{ task.task_name }}</label>
                                                                                            <br><strong>Tugatilganligi
                                                                                            :</strong> {{ task.task_done_percentage }}%
                                                                                        </div>
                                                                                        <div class="col-1">
                                                                                            <i style="cursor: pointer"
                                                                                               data-toggle="modal"
                                                                                               data-target="#finish-task"
                                                                                               class="fa-solid fa-flag-checkered task-finish {{ task.id }}"></i>
                                                                                            <i class="fa-solid fa-pen-to-square mx-1 {{ task.id }} edit-task-icon"
                                                                                               style="cursor: pointer"></i>
                                                                                            <i class="fa-solid fa-trash delete-task-icon trash-icon mx-1"
                                                                                               data-toggle="modal"
                                                                                               data-target="#delete-task"
                                                                                               id="{{ task.id }}"
                                                                                               style="cursor: pointer"></i>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            {% endwith %}
                                                                        {% endfor %}
                                                                    {% endwith %}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="tab-pane fade" id="project-comments" role="tabpanel"
                                                         aria-labelledby="project-comments-tab">
                                                        <div class="row mb-4" style="width: 100dvh">
                                                            <div class="col-11">
                                                                <textarea class="form-control {{ project_id }}"
                                                                          id="comment" rows="4"></textarea>
                                                            </div>
                                                            <div class="col-1">
                                                                <button class="btn btn-primary" id="post-comment">
                                                                    Yozish
                                                                </button>
                                                            </div>
                                                        </div>
                                                        {% for comment in comments %}
                                                            <div class="d-flex flex-start mb-4">
                                                                <img class="rounded-circle shadow-1-strong me-3"
                                                                     src="{{ comment.author.avatar.url }}" alt="avatar"
                                                                     width="65"
                                                                     height="65"/>
                                                                <div class="card mx-2 w-100">
                                                                    <div class="card-body p-4">
                                                                        <div class="">
                                                                                                                                                        <div class="row">
                                                                                <div class="col-11">
                                                                                    {{ comment.author.get_full_name }}
                                                                                </div>
                                                                                <div class="col-1">
                                                                                    <i class="fa-solid fa-pen-to-square mx-1 edit-comment {{ comment.pk }} icon-buttons"
                                                                                       style="cursor: pointer"></i>
                                                                                    <i class="fa-solid fa-trash delete-comment mx-1 {{ comment.pk }}"
                                                                                       id="delete-comment"
                                                                                       style="cursor: pointer"></i>
                                                                                </div>
                                                                            </div>
                                                                            <p class="small">{{ comment.created_at |format_date }}</p>
                                                                            <p id="{{ comment.pk }}">
                                                                                {{ comment.comment }}
                                                                            </p>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}

                                                    </div>
                                                    <div class="tab-pane fade" id="project-problems" role="tabpanel"
                                                         aria-labelledby="project-problems-tab">
                                                        <div class="row mb-4" style="width: 100dvh">
                                                            <div class="col-11">
                                                                <textarea class="form-control {{ project_id }}"
                                                                          id="problem" rows="4"></textarea>
                                                            </div>
                                                            <div class="col-1">
                                                                <button class="btn btn-primary" id="post-problem">
                                                                    Yozish
                                                                </button>
                                                            </div>
                                                        </div>
                                                        {% for problem in problems %}
                                                            <div class="d-flex flex-start mb-4">
                                                                <img class="rounded-circle shadow-1-strong me-3"
                                                                     src="{{ problem.author.avatar.url }}" alt="avatar"
                                                                     width="65"
                                                                     height="65"/>
                                                                <div class="card mx-2 w-100">
                                                                    <div class="card-body p-4">
                                                                        <div>
                                                                            <div class="row">
                                                                                <div class="col-11">
                                                                                    {{ problem.author.get_full_name }}
                                                                                </div>
                                                                                <div class="col-1">
                                                                                    <i class="fa-solid fa-pen-to-square mx-1 edit-problem {{ problem.pk }} icon-buttons"
                                                                                       style="cursor: pointer"></i>
                                                                                    <i class="fa-solid fa-trash delete-problem mx-1 {{ problem.pk }}"
                                                                                       style="cursor: pointer"></i>
                                                                                </div>
                                                                            </div>
                                                                            <p class="small">{{ problem.created_at |format_date }}</p>
                                                                            <p id="{{ problem.pk }}">
                                                                                {{ problem.problem }}
                                                                            </p>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                            {% for ph in project %}
                                <h3 class="text-primary"><i class="fas fa-paint-brush"></i>{{ ph.project_name }} </h3>
                                <p class="text-muted">{{ ph.project_description }}</p>
                                <br>
                                <div class="text-muted">
                                    <p class="text-sm">Loyiha egasi
                                        <b class="d-block">{{ ph.author.get_full_name }}</b>
                                    </p>
                                    <p class="text-sm">Loyiha kuratori
                                        <b class="d-block">{{ ph.project_curator }}</b>
                                    </p>
                                </div>
                            {% endfor %}
                            <h5 class="mt-5 text-muted">Loyiha fayllari</h5>
                            <ul class="list-unstyled">
                                {% for doc in documents %}
                                    <li>
                                        {% if doc.url %}
                                            <a href="{{ doc.url }}" class="btn-link text-secondary"><i
                                                    class="fa-solid fa-{{ doc.type }}" style="margin-right: 2%"></i>
                                                {{ doc.url }}<br>
                                                <small>{{ doc.created_at | format_date }}</small>
                                            </a>
                                        {% else %}
                                            <a href="" class="btn-link text-secondary" download="{{ doc.document }}"><i
                                                    class="fa-solid fa-{{ doc.type }}" style="margin-right: 2%"></i>
                                                <embed href="{{ doc.document }}">
                                                {{ doc.document }}<br>
                                                <small>{{ doc.created_at | format_date }}</small>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="text-start mt-5 mb-3">
                                <button data-toggle="modal" data-target="#addfile" class="btn btn-sm btn-primary"><i
                                        class="fa-solid fa-upload"></i> Fayl
                                    yuklash
                                </button>
                                <button data-toggle="modal" data-target="#delete-file" class="btn btn-sm btn-danger">
                                    <i class="fa-solid fa-trash"></i> O'chirish
                                </button>
                                {% for pr in project %}
                                    <button name="{{ pr.pk }}" id="archive" class="btn btn-sm bg-green"><i
                                            class="fa-solid fa-download"></i> Arxiv sifatida yuklab olish
                                    </button>
                                {% endfor %}
                                <div id="addfile" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1>Faylni qo'shish</h1>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" enctype="multipart/form-data" id="add-file-form">
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                    <button id="add-url" type="button" class="btn btn-primary">Url
                                                        kiritish
                                                    </button>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Ha</button>
                                                        <button class="btn btn-primary" data-dismiss="modal">Bekor
                                                            qilish
                                                        </button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="delete-file" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1>Fayllarni tanlang</h1>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" enctype="multipart/form-data" id="delete-file-form">
                                                    {% csrf_token %}
                                                    {% for document in documents %}
                                                        <div class="row">
                                                            <div class="col-1">
                                                                <input class="del-files" type="checkbox"
                                                                       id="{{ document.pk }}">
                                                            </div>
                                                            <div class="col">
                                                                {{ document.document }}

                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="modal-footer">
                                                        <button id="del-confirm" type="button" class="btn btn-danger">
                                                            O'chirish
                                                        </button>
                                                        <button class="btn btn-primary" data-dismiss="modal">Bekor
                                                            qilish
                                                        </button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="add-phase" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1>Faza yaratish boshlandi</h1>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" id="phase-form">
                                                    <label> Faza nomini yozing :
                                                        <input class="form-control mb-4" type="text" name="phase"
                                                               id="phase-input">
                                                    </label><br>
                                                    <hr>
                                                    <div class="add-task" id="add-task">
                                                        <label>Task qo'shish</label>
                                                        <i class="fa-solid fa-circle-plus"></i>
                                                    </div>
                                                    <hr>
                                                </form>
                                                <div class="modal-footer">
                                                    <button id="save-all-data" class="btn btn-primary">Saqlash</button>
                                                    <button data-dismiss="modal" class="btn btn-secondary">Bekor
                                                        qilish
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div id="delete-phase" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1>Fazani o'chirasizmi ?</h1>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="delete-icon-confirm" class="btn btn-danger">O'chirish</button>
                                            <button data-dismiss="modal" class="btn btn-secondary">Bekor qilish</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="delete-task" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1>Task o'chirasizmi ?</h1>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="delete-task-confirm" class="btn btn-danger">O'chirish</button>
                                        <button data-dismiss="modal" class="btn btn-secondary">Bekor qilish</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="finish-task" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1>Nechi foizga tugatamiz ?</h1>
                                </div>
                                <div class="modal-body">
                                    <input id="task-done" name="task-complete-percentage" placeholder="0"
                                           class="form-control"/>
                                </div>
                                <div class="modal-footer">
                                    <button id="finish-task-confirm" class="btn btn-danger">Saqlash</button>
                                    <button data-dismiss="modal" class="btn btn-secondary">Bekor qilish</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

    </div>
    </div>
    </div>
    </div>
    </section>
    </div>
{% endblock content %}