{% extends 'base.html' %}
{% block content %}
    {% load filters %}
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Loyihalar</h3>

                <div class="card-tools">
                    <a href="{% url 'create-project' %}"> <i
                            class="fa-solid fa-circle-plus btn btn-outline-dark"></i></a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 1%" class="text-center">
                            No
                        </th>
                        <th style="width: 20%" class="text-center">
                            Loyiha nomi
                        </th>
                        <th style="width: 30%" class="text-center">
                            Loyiha kuratori
                        </th>
                        <th class="text-center">
                            Loyiha bajarilganlik darajasi
                        </th>
                        <th style="width: 8%" class="text-center">
                            Budgeti
                        </th>
                        <th style="width: 20%" class="text-center">
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <a>
                                    {{ project.project_name }}
                                </a>
                                <br/>
                                <small>
                                    <strong>Boshlandi : </strong> {{ project.project_start_date | format_date }}<br>
                                    <strong>Tugaydi : </strong> {{ project.project_deadline | format_date }}
                                </small>
                            </td>
                            <td>
                                <div class="list-inline row">
                                    <div class="col-2 text-center">
                                        <img style="max-width: 40px" src="{{ project.project_curator.avatar.url }}">

                                    </div>
                                    <div class="col-10">
                                        <p>{{ project.project_curator.get_full_name }}</p>

                                    </div>
                                </div>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress-sm">
                                    <div class="progress-bar {% if project.project_status == 'Yangi' %} bg-white {% elif project.project_status == 'Jarayonda' %} bg-yellow {% elif project.project_status == 'Tugatilgan' %}bg-green{% endif %}"
                                         role="progressbar" aria-valuenow="{{ project.project_done_percentage }}"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ project.project_done_percentage }}%">
                                    </div>
                                </div>
                                <small>
                                    {{ project.project_done_percentage }}%<br>
                                    <strong>{{ project.project_status }}</strong>
                                </small>
                            </td>
                            <td class="project-state">
                                <p>{{ project.project_budget }}</p>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" href="{% url 'my-projects-detail' project.pk %}">
                                    <i class="fas fa-folder">
                                    </i>
                                    Batafsil
                                </a>
                                <a class="btn btn-info btn-sm" href="{% url 'update-project' project.pk %}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Tahrirlash
                                </a>
                                <button id="{{ project.pk }}" type="button" class="btn btn-danger btn-sm delete-button" data-toggle="modal"
                                        data-target="#myModal">
                                    <i class="fas fa-trash">
                                    </i>
                                    O'chirish
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Chindan ham loyihani o'chirasizmi ?</h4>
      </div>
      <div class="modal-footer">
        <button id="confirm" type="button" class="btn btn-primary" data-dismiss="modal">Ha</button>
        <button id="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Bekor qilish</button>
      </div>
    </div>

  </div>
</div>

    </section>

    <script>

    </script>


{% endblock content %}