{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="{{ user.avatar.url }}"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">{{ user.first_name }}</h3>

                            <p class="text-muted text-center">{{ user.position }}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Loyihalar soni</b> <a class="float-right">0</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Ro'li</b> <a class="float-right">{{ user.role }}</a>
                                </li>
                            </ul>

                            <a href="{% url 'hodimlar:update-user' user.pk %}" class="btn btn-primary btn-block"><b>Yangilash</b></a>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Batafsil</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="fa-solid fa-phone" style="margin-right: 2%"></i> Aloqa</strong>

                            <p class="text-muted">
                                {{ user.phone }}
                            </p>

                            <hr>

                            <strong><i class="fa-solid fa-envelope" style="margin-right: 2%"></i> Email</strong>

                            <p class="text-muted">{{ user.email }}</p>

                            <hr>

                            <strong><i class="fa-solid fa-building" style="margin-right: 2%"></i> Blog</strong>

                            <p class="text-muted">
                                {{ user.blog }}
                            </p>

                            <hr>

                            <strong><i class="far fa-file-alt mr-1"></i> Departament</strong>

                            <p class="text-muted">{{ user.department }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card" style="height: 98%">
                        <div class="card-header p-2">
                            <div class="row">
                                <div class="col-9">
                                    <h1>Ruxsat berilgan loyihalar</h1>
                                </div>
                                <div class="col-3">
                                    <a class="btn btn-primary mt-2" href="{% url 'hodimlar:logout' %}"> Chiqib ketish</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div>Hech qanday loyihalar yo'q</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}