{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                  <h1>Profilni tahrirlash </h1>
                </div>
                <div class="card-body h-50">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Yangilash</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-2">

        </div>

    </div>


{% endblock content %}